#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.title{
  font-size: 1rem;
  margin-bottom: 1rem;
}
.form{
  padding: 20px;
  border-radius: 30px;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background-color: #111;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
input{
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  font-size: 1rem;
}
input:focus{
  border-color: #646cff;
  outline: none;
}
input::placeholder{
  color: #999;
}
.section{
  margin-top: 2rem;
  text-align: center;
}
.container{
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.post-card{
  background-color: #999999df;
  padding: 1rem;
  border-radius: 8px;
  width: 300px;
  text-align: left;
  color: #111;
  text-align: center;
}

.dlt-btn{
  padding: 0.5rem 1rem;
  background-color: #2d27277f;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.dlt-btn:hover{
  background-color: #ff1a1a;
}
.edit-btn{
  width: 80px;
  padding: 0.5rem 1rem;
  background-color: #201a22;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.edit-btn:hover{
  background-color: #a31aff;
}
.button-container{
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
}